AWS_REGION         = ""
AWS_ACCOUNT_NUMBER = ""
DJANGO_PORT        = ""
DEFAULT_VPC_ID     = ""
PGHOST             = ""
PGUSER             = ""
PGDATABASE         = ""
PGPASSWORD         = ""
PGPORT             = ""
# This is also the name of the AWS ECR repository
BACKEND_IMAGE_NAME        = ""
BACKEND_IMAGE_TAG         = ""
BACKEND_EC2_INSTANCE_TYPE = ""
BACKEND_EC2_SSH_KEY_NAME  = ""
